*{ 
    margin: 0; 
    padding: 0; 
}
.header{
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    
    display: flex;
    justify-content: space-between;
}
.header__h1{
    font: 40pt 'Roboto Mono';
}
.header-name__input{
    font: 20pt 'Roboto Mono';
    border: none;
    opacity: 1; 
}
.header-name__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.header-name__input:focus::placeholder { 
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.header-winner{
    font: 30pt 'Roboto Mono';
    opacity: 0;
    position: absolute;
    /* left: 40%; */
    top: 15px;
}
.main__xo{
    width: 100%;

}
.mainpole{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    border: 1px solid black;
}
.mainpole__pole{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    font: 50pt 'Roboto Mono';
    border: 1px solid black;
}
.startNewGame{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    font: 20pt 'Roboto Mono';
    margin-top: 20px;
}
.header-name__view{
    opacity: 0;
    color: black;
    font: 20pt 'Roboto Mono';
    margin-right: 15px;
}
.opacyti-transparent{ 
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.opacyti-transparent-view{ 
    opacity: 1; 
    transition: opacity 0.3s ease;
}
.main__leaders{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    max-height: 80%;
    margin-right: 50px;
}